Repository JaeMeDev/switi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": "eslint --fix",
  "*.{ts,tsx,js,css,md}": "prettier --write"
}

fix: Default SEO Setting
  .eslintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: add emotion
  .eslintrc.json
  .pnp.cjs
  .yarn/cache/@emotion-babel-plugin-npm-11.9.2-9822f587b1-2d2c4fadd3.zip
  .yarn/cache/@emotion-cache-npm-11.7.1-82b45442ee-cf7aa8fe3b.zip
  .yarn/cache/@emotion-eslint-plugin-npm-11.7.0-70dbd7ce49-71bdeed366.zip
  .yarn/cache/@emotion-hash-npm-0.8.0-0104f4bbf3-4b35d88a97.zip
  .yarn/cache/@emotion-is-prop-valid-npm-1.1.2-fba2bc1e57-58b1f2d429.zip
  .yarn/cache/@emotion-memoize-npm-0.7.5-e5e7e9eeca-83da8d4a76.zip
  .yarn/cache/@emotion-react-npm-11.9.0-59b3a70c1e-4ceb004f94.zip
  .yarn/cache/@emotion-serialize-npm-1.0.3-2a28e46c06-99a9053bd9.zip
  .yarn/cache/@emotion-sheet-npm-1.1.0-40e9c90e06-a4b74e16a8.zip
  .yarn/cache/@emotion-styled-npm-11.8.1-af85f2fe52-67150fa788.zip
  .yarn/cache/@emotion-unitless-npm-0.7.5-14e1171640-f976e5345b.zip
  .yarn/cache/@emotion-utils-npm-1.1.0-cab2893c1f-d3b681ca3a.zip
  .yarn/cache/@emotion-weak-memoize-npm-0.2.5-9f2e49e7c8-27d402b0c6.zip
  .yarn/cache/babel-plugin-macros-npm-2.8.0-451367d7e7-59b09a21cf.zip
  .yarn/cache/find-root-npm-1.1.0-a16a94005f-b2a59fe4b6.zip
  .yarn/cache/hoist-non-react-statics-npm-3.3.2-e7b709e6c1-b153827042.zip
  .yarn/cache/stylis-npm-4.0.13-3f245d840f-8ea7a87028.zip
  package.json
  src/components/TestComponent.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: global style, emotion setting
  .eslintrc.json
  .pnp.cjs
  .yarn/cache/create-eslint-index-npm-1.0.0-57969a1a18-34c859910c.zip
  .yarn/cache/emotion-reset-npm-3.0.1-061e1e27b7-788cfbf6f3.zip
  .yarn/cache/enhance-visitors-npm-1.0.0-68023d8a26-d01d41297e.zip
  .yarn/cache/eslint-ast-utils-npm-1.1.0-4a0bc87b04-f72d687559.zip
  .yarn/cache/eslint-plugin-lodash-fp-npm-2.2.0-a1-bc2b460246-ae6d9454af.zip
  .yarn/cache/lodash.get-npm-4.4.2-7bda64ed87-e403047ddb.zip
  .yarn/cache/lodash.zip-npm-4.2.0-5299417ec8-41fd8dc1af.zip
  .yarn/cache/req-all-npm-1.0.0-6196f3ccb7-d883e504e4.zip
  package.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/GlobalStyles.tsx
  src/styles/Home.module.css
  src/styles/globals.css
  src/styles/theme.ts
  src/types/emotion.d.ts
  src/utils/themeUtils.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add Test Button Component
  .storybook/preview.js
  jest.config.js
  src/components/TestComponent.stories.tsx
  src/components/TestComponent.tsx
  src/components/base/Button/Button.stories.tsx
  src/components/base/Button/Button.test.tsx
  src/components/base/Button/Button.tsx
  src/components/base/Button/interface.ts
  src/components/base/Button/style.ts
  src/pages/index.tsx
  src/styles/GlobalStyles.tsx
  src/styles/theme.ts
Due: eslint --fix, prettier --write

fix: ts path 설정
  .storybook/main.js
  jest.config.js
  src/components/base/Button/Button.stories.tsx
  src/components/base/Button/Button.test.tsx
  src/components/base/Button/index.tsx
  src/components/base/Button/style.ts
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/utils/themeUtils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: storybook theme setting
  .pnp.cjs
  .storybook/main.js
  .storybook/manager.ts
  .storybook/preview.js
  .storybook/theme.ts
  package.json
  public/images/logo.png
  yarn.lock
Due: eslint --fix, prettier --write

fix: gitignore storybook static folder
  .gitignore
Due: none

test: add themeUtils test
  jest.config.js
  package.json
  src/utils/themeUtils.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add auto assign
  .github/auto_assign.yml
Due: none

feat: add react type
  src/components/base/Button/Button.stories.tsx
  src/components/base/Button/index.tsx
  src/types/images.d.ts
  src/types/react.d.ts
Due: eslint --fix, prettier --write

feat: add Button
  .eslintrc.json
  src/components/base/Button/Button.stories.tsx
  src/components/base/Button/Button.test.tsx
  src/components/base/Button/index.tsx
  src/components/base/Button/interface.ts
  src/components/base/Button/style.ts
  src/styles/theme.ts
Due: eslint --fix, prettier --write

fix: pull request template
  .github/pull_request_template.md
Due: prettier --write

fix: vscode setting
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

feat: add Footer Navigation
  .pnp.cjs
  .storybook/main.js
  .storybook/preview.js
  .yarn/cache/storybook-addon-next-router-npm-4.0.0-64f410639f-3e203fe069.zip
  next.config.js
  package.json
  src/components/base/NavIcon/NavIcon.stories.tsx
  src/components/base/NavIcon/NavIcon.test.tsx
  src/components/base/NavIcon/index.tsx
  src/components/base/NavIcon/style.ts
  src/components/domain/Footer/Footer.stories.tsx
  src/components/domain/Footer/data.tsx
  src/components/domain/Footer/index.tsx
  src/components/domain/Footer/interface.ts
  src/components/domain/Footer/style.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: footer style
  src/components/domain/Footer/style.ts
Due: eslint --fix, prettier --write

feat: add MainLayout
  .storybook/preview.js
  public/assets/images/main_logo.svg
  src/components/base/HeaderTitle/HeaderTitle.stories.tsx
  src/components/base/HeaderTitle/HeaderTitle.test.tsx
  src/components/base/HeaderTitle/index.tsx
  src/components/base/HeaderTitle/style.ts
  src/components/base/NavIcon/style.ts
  src/components/base/SeoTitle/SeoTitle.test.tsx
  src/components/base/SeoTitle/index.tsx
  src/components/domain/Footer/style.ts
  src/components/domain/MainHeader/MainHeader.stories.tsx
  src/components/domain/MainHeader/index.tsx
  src/components/domain/MainHeader/style.ts
  src/components/layout/MainLayout/MainLayout.stories.tsx
  src/components/layout/MainLayout/index.tsx
  src/components/layout/MainLayout/style.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/my/index.tsx
  src/styles/GlobalStyles.tsx
Due: eslint --fix, prettier --write

fix: Header Component name
  src/components/domain/Header/MainHeader.stories.tsx
  src/components/domain/Header/index.tsx
  src/components/domain/Header/style.ts
  src/components/layout/MainLayout/index.tsx
Due: eslint --fix, prettier --write

feat: add PageHeader
  src/components/base/BackButton/BackButton.stories.tsx
  src/components/base/BackButton/BackButton.test.tsx
  src/components/base/BackButton/index.tsx
  src/components/base/BackButton/style.ts
  src/components/domain/PageHeader/PageHeader.stories.tsx
  src/components/domain/PageHeader/index.tsx
  src/components/domain/PageHeader/style.ts
  src/styles/shared.ts
Due: eslint --fix, prettier --write

feat: add notice(공지사항) page
  .eslintrc.json
  .pnp.cjs
  .yarn/cache/gray-matter-npm-4.0.3-852ae4f34c-37717bd424.zip
  .yarn/cache/section-matter-npm-1.0.0-2f79fd59d6-3cc4131705.zip
  .yarn/cache/strip-bom-string-npm-1.0.0-aa6cb548d1-5635a3656d.zip
  notice/01-first-notice.md
  notice/02-second-notice.md
  package.json
  src/components/base/NoticeLink/NoticeLink.stories.tsx
  src/components/base/NoticeLink/index.tsx
  src/components/base/NoticeLink/style.ts
  src/components/domain/NoticeList/NoticeList.stories.tsx
  src/components/domain/NoticeList/NoticeList.test.tsx
  src/components/domain/NoticeList/index.tsx
  src/components/domain/NoticeList/style.ts
  src/components/layout/MainLayout/index.tsx
  src/components/layout/MainLayout/style.ts
  src/components/layout/PageLayout/PageLayout.stories.tsx
  src/components/layout/PageLayout/index.tsx
  src/models/notice.ts
  src/pages/notice/index.tsx
  src/styles/GlobalStyles.tsx
  src/styles/shared.ts
  src/styles/theme.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add NoticeLink test code
  src/components/base/NoticeLink/NoticeLink.test.tsx
Due: eslint --fix, prettier --write

feat: add Avatar
  public/assets/images/default_avatar.svg
  src/components/base/Avatar/Avatar.stories.tsx
  src/components/base/Avatar/Avatar.test.tsx
  src/components/base/Avatar/index.tsx
  src/components/base/Avatar/style.ts
  src/types/emotion.d.ts
Due: eslint --fix, prettier --write

fix: README
  README.md
Due: prettier --write

feat: add main route
  src/pages/about.tsx
  src/pages/manage_study.tsx
  src/pages/search.tsx
Due: eslint --fix, prettier --write

core: prisma, planetscale setting
  .gitignore
  .pnp.cjs
  .yarn/cache/@prisma-client-npm-3.14.0-148d1bad53-65ecb4e3c6.zip
  .yarn/cache/@prisma-engines-npm-3.14.0-36.2b0c12756921c891fec4f68d9444e18c7d5d4a6a-fea8b5f59d-f5b1e09fc1.zip
  .yarn/cache/@prisma-engines-version-npm-3.14.0-36.2b0c12756921c891fec4f68d9444e18c7d5d4a6a-cb35bf8394-89721b5a86.zip
  .yarn/cache/prisma-npm-3.14.0-97ddf7dec9-4923371fda.zip
  package.json
  prisma/schema.prisma
  yarn.lock
Due: none

fix: yarn berry prisma bug fix
  .eslintrc.json
  .gitignore
  .pnp.cjs
  .yarn/cache/@yarnpkg-nm-npm-4.0.0-rc.6-6b42d60ed0-a42f3c029e.zip
  .yarn/cache/@yarnpkg-pnpify-npm-4.0.0-rc.6-d18aae2925-29f3a4173f.zip
  package.json
  prisma/schema.prisma
  src/libs/server/client.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add next auth, social login provider
  .pnp.cjs
  .yarn/cache/@next-auth-prisma-adapter-npm-1.0.3-e90f21e700-41b27c5591.zip
  .yarn/cache/@panva-hkdf-npm-1.0.2-ea4c380608-75183b4d5e.zip
  .yarn/cache/cookie-npm-0.4.2-7761894d5f-a00833c998.zip
  .yarn/cache/jose-npm-4.8.1-abe5015874-c3e239ccbb.zip
  .yarn/cache/next-auth-npm-4.3.4-318b350447-4b5f6f6d3f.zip
  .yarn/cache/oauth-npm-0.9.15-a6aae972bc-957c0d8d85.zip
  .yarn/cache/object-hash-npm-2.2.0-d97a921cc1-55ba841e3a.zip
  .yarn/cache/oidc-token-hash-npm-5.0.1-9b98415c82-d62aa8c665.zip
  .yarn/cache/openid-client-npm-5.1.6-97da94d3d8-652a44a829.zip
  .yarn/cache/preact-npm-10.7.3-2f380e8e75-a0471da775.zip
  .yarn/cache/preact-render-to-string-npm-5.2.0-796c41ab90-aae92b67da.zip
  .yarn/cache/pretty-format-npm-3.8.0-293db331d9-21a114d43e.zip
  package.json
  src/pages/_app.tsx
  src/pages/api/auth/[...nextauth].ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add LoginButton
  src/components/base/LoginButton/LoginButton.stories.tsx
  src/components/base/LoginButton/LoginButton.test.tsx
  src/components/base/LoginButton/index.tsx
  src/components/base/LoginButton/style.ts
  src/components/base/LoginButton/useLoginItem.test.ts
  src/components/base/LoginButton/useLoginItem.tsx
  src/models/login.ts
  src/styles/theme.ts
Due: eslint --fix, prettier --write

feat: add login page
  .pnp.cjs
  next.config.js
  package.json
  src/components/base/LoginButton/index.tsx
  src/components/base/LoginButton/style.ts
  src/components/base/LoginButton/useLoginItem.tsx
  src/components/domain/LoginButtons/LoginButtons.stories.tsx
  src/components/domain/LoginButtons/index.tsx
  src/components/domain/LoginButtons/style.ts
  src/models/login.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/sign-in.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: add swcMinify options
  next.config.js
Due: eslint --fix, prettier --write

fix: build-stats script
  package.json
Due: none

fix: eslint ignore
  .eslintrc.json
  cypress/plugins/index.js
  src/pages/notice/[slug].tsx
Due: eslint --fix, prettier --write

feat: lodash treeshacking
  .eslintrc.json
  .pnp.cjs
  package.json
  src/components/domain/LoginButtons/index.tsx
  src/pages/sign-in.tsx
  yarn.lock
Due: eslint --fix, prettier --write
